<div class="story-body">
<h3 class="section-head serif">Why is SF so much better now?</h3>
      <p class="body-text serif">Part of the answer is the same stuff that’s happening everywhere-- warming winters (and in SF’s case, somewhat less rainy ones) means better weather for outdoor activity.</p>
      <p class="body-text serif">But the biggest reason SF is improving on running days is more surprising: since 2000, the number of days that are too warm for running has actually declined-- and in a big way.</p>

<div class="chart-section">
        <p class="chart-title">San Francisco has fewer extremely warm days.</p>
        <p class="chart-subhead">Even if average temperatures are going up, fewer days exceed 72.5 degrees now compared to before.</p>
        <div class="chart-row">
          <div class="chart" id="chart-5"></div>
        </div>
        <p class="chart-source">Source: National Oceanic and Atmospheric Administration (ncdc.noaa.gov)</p>
      </div>

<p class="body-text serif">It’s another reminder that climate change has both its winners and losers: in San Francisco, like maybe not that many other places in the world, the winners are runners-- and the losers are people who like to do things like stand outside relaxing, barbequing, and generally not being too active under a warm summer sun. In other words, normal summer stuff -- which for now, San Franciscans aren’t getting any more of.</p>
<p class="body-text serif">So if you hate the cost of living and like to lay about during the summer, by all means leave. But if you’re one of the many who like to be outside, wafted by a bracing Pacific breeze-- you can’t do much better than stay.</p>      
</div>

<script src="scripts/chart-05.js"></script>
