<div class="story-body">
      <h3 class="section-head serif">So how do the cities compare?</h3>
      <p class="body-text serif">Again, so glad you asked. I pulled 39 years of temperature and precipitation records from the NOAA, and determined on average how many days per month in each city have high temperatures in that sweet spot range, and also feature no rain. And the results are in:
      </p>

      <div class="chart-section">
        <p class="chart-title">Guess what - San Francisco wins</p>
        <p class="chart-subhead">It gets more than double the number of running days as the others.</p>
        <div class="chart-row">
          <div class="chart" id="chart-2"></div>
        </div>
        <p class="chart-source">Source: National Oceanic and Atmospheric Administration (ncdc.noaa.gov)</p>
      </div>
</div>

<script src="scripts/chart-02.js"></script>