<div class="story-body">
<h3 class="section-head serif">Which cities do people leave SF for?</h3>
      <p class="body-text serif">I could have done this analysis myself, but the good capitalists at <a href="https://www.trulia.com/research/californians-are-leaving-where-are-they-looking-to-go/">Trulia</a> did it for me. Their methods weren’t perfect (see the methodology if you’re a big nerd), but here are the top 5:</p>
      <p class="body-text serif">
      <ul>
        <li>New York</li>
        <li>Las Vegas</li>
        <li>Phoenix</li>
        <li>Dallas</li>
        <li>Seattle</li>
      </ul>
      </p>
      <p class="body-text serif">In other words: suck it, Austin.</p>
</div>