<div class="story-body">
  <p class="body-text serif">By now, everyone knows that people are leaving San Francisco in droves. It’s pricey AF, the tech bros are insufferable, and there’s poop everywhere. What, some have begun to ask, is left to stay for?</p>
      <p class="body-text serif">I’ll tell you what. The running.</p>
      <p class="body-text serif">As someone who’s recently left San Francisco for New York after living there his entire adult life, I can tell you personally: we who go running do not know how good we have it. And the reason is nothing less than our lame, milquetoast weather.</p>
      <div class="photo-section">
        <div class="photo">
          <img src="images/runner.jpg" alt="runner" />
          <p class="caption">Photo by <a href="https://unsplash.com/@dt5168?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Des Tan</a> on <a href="https://unsplash.com/search/photos/san-francisco-runner?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
        </div>
      </div>
      <p class="body-text serif">Skeptical? Try this: fly to New York in May (when I moved) and go for a run. I dare you. Try not to be, as I was, gobsmacked by lung-bursting amounts of moisture-laden hot air. Your splits will suffer. You will shun any incline. You will want to die. And that’s before summer has even started.</p>
      <p class="body-text serif">Don’t take my word for it. Instead, allow me to marshal science to make all of you active Bay Areans who would leave think twice. I started my inquiry with a simple question-- how good is the weather for running in SF, and how does that compare to other cities that San Franciscans move to?</p>
      <p class="body-text serif">I’m glad you asked, too.</p>
</div>