<div class="story-body">
<h3 class="section-head serif">And what does it mean for running weather to be “good?”</h3>
      <p class="body-text serif">Surely this is subjective, you say? Wrong! The intrepid reporters at <a href="https://www.elitedaily.com/wellness/best-temperature-for-running/2023285">Elite Daily</a> have determined that the optimal temperature for running long-distance is 49-50 F, and for sprinting it’s 72-73 F. Since all runs are, by definition, somewhere between a sprint and long-distance run, we’ll call those our bookends and include all temperatures in between.
      </p>
      <p class="body-text serif">But also: running in the rain sucks (chafing, anyone?), so we’ll want to take that into account too.
      </p>
      <p class="body-text serif">So to sum up, good running days are:
      <ul>
        <li>Those with <strong>high temps between 50 and 72.5.</strong></li>
        <li>Those with <strong>no rain recorded.</strong></li>
      </ul>
      </p>
</div>